/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

.wrapper 
{
    .header 
    {
        &__hero 
        {
            &__content 
            {
                &__img-wrapper 
                {
                   
                  
                    .hero-img 
                    {
                        width: 100%;
                        height: auto;
                        padding-top: 8rem;
                        position: relative;
                    }
                }
            }
        }
    }
}


main 
{
    .craftsmanship , .about-mission
    {
       margin-top: 8rem; 
       padding: $desktop-padding;
       background-image: url('/css/resources/mission-showcase.jpg');
       background-size: cover;
       background-position: center center;
       &__container 
       {
            padding: 6rem 0;
            @include flexbox(space-between, start);

            &__content 
            {
                width: 60%;
                h2 
                {
                    font-size: 4.5rem;
                    line-height: 5.5rem;
                    font-weight: lighter;
                }

                span 
                {
                    margin-top: 6rem;
                    display: block;
                    font-weight: normal;
                    font-size: 1.5rem;
                    line-height: 2rem;
                }
            }

            &__link 
            {  
               
                a 
                {
                    position: relative;
                    -webkit-transition: all .3s ease-in-out;
                    -o-transition: all .3s ease-in-out;
                    transition: all .3s ease-in-out;
                    @include resetLinks;
                    color: $primary-clr;


                    i 
                    {
                        margin-left: .5rem;
                    }
                    &:before 
                    {
                        content: ''; 
                        position: absolute;
                        bottom: -5px;
                        left: 0;
                        right: 0;
                        width: 0;
                        height: 2px;
                        background: $primary-clr;
                        -webkit-transition: all .3s ease-in-out;
                        -o-transition: all .3s ease-in-out;
                        transition: all .3s ease-in-out;
                    }


                    &:after
                    {
                        content: ''; 
                        position: absolute;
                        bottom: -5px;
                        right: 0;
                        width: 0;
                        height: 2px;
                        background: $primary-clr;
                        -webkit-transition: all .3s ease-in-out;
                        -o-transition: all .3s ease-in-out;
                        transition: all .3s ease-in-out;
                    }
                    &:hover:before ,
                    &:hover:after
                    {
                        width: 50%;
                        -webkit-transition: all .3s ease-in-out;
                        -o-transition: all .3s ease-in-out;
                        transition: all .3s ease-in-out;
                    }
                }
            }
       }
    }

    .about-mission 
    {
        background-image: url('/css/resources/mission-detail.jpg');
        color: #fff;
        &__container 
        {
            &__link 
            {
               a 
               {
                   color: #fff;
                   &:before, &:after 
                   {
                       background: #fff;
                   }
               }
            }
        }
    }
    .mission-description 
    {
        margin-top: 8rem;
        padding: $desktop-padding;
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        height: auto;

        &__showcase 
        {
            img 
            {
                width: 100%;
                height: 100%;
            }

        }

        &__content 
        {
            margin-left: 3rem;

            h2 
            {
                font-size: 24px;
                line-height: 24px;
                font-weight: bold;
            }

            p 
            {
                font-size: 24px;
                line-height: 38.4px;
                margin-top: 2rem;
            }
        }
    }

    .origins 
    {
        margin-top: 8rem;
        &__content 
        {
            padding: $desktop-padding;
            span 
            {
                font-size: 24px;
                line-height: 38.4px;
                font-weight: lighter;
            }
        }

        img 
        {
            width: 100%;
            height: auto;
        }
    }    
}

@media screen and(max-width: 1200px){
    main 
    {
        .craftsmanship , .about-mission 
        {
            &__container 
            {
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                    -ms-flex-direction: column;
                        flex-direction: column;
                @include flexbox(start, end);
                
                &__content 
                {
                    width: 100%;
                }

                &__link 
                {
                    padding-top: 2rem;
                    text-align: right;
                }
            }
        }
    }
}   

@media screen and(max-width: 1024px){
    .wrapper 
    {
        .header 
        {
            &__hero 
            {
                &__content 
                {
                    &__img-wrapper 
                    {
                       
                      
                        .hero-img 
                        {
                            width: 100%;
                            height: auto;
                            padding-top: 5rem;
                            position: relative;
                        }
                    }
                }
            }
        }
    }

    main 
    {
        .craftsmanship , .about-mission 
        {
            padding: $mobile-padding;
            margin-top: 5rem;
        }

        .mission-description
        {
            margin-top: 5rem;
            -ms-grid-columns: 1fr;
            grid-template-columns: 1fr;
            padding: $mobile-padding;
            &__showcase 
            {
               display: none;
            }
            &__content 
            {
                margin-left: 0;
            }
        }

        .origins 
        {
            margin-top: 5rem;
            &__content 
            {
                padding: $mobile-padding;
            }
        }
    }
}


@media screen and(max-width: 768px){
    .wrapper 
    {
        .header 
        {
            &__hero 
            {
                &__content 
                {
                    &__img-wrapper 
                    {
                       
                      
                        .hero-img 
                        {
                            width: 100%;
                            height: auto;
                            padding-top: 5rem;
                            position: relative;
                        }
                    }
                }
            }
        }
    }

    main 
    {
        .origins 
        {
            margin-top: 5rem;
            &__content 
            {
                padding: $mobile-smaller-padding;
            }
        }
        .craftsmanship , .about-mission 
        {
            padding: $mobile-smaller-padding;
            margin-top: 5rem;

            &__container 
            {
                &__content 
                {
                    width: 100%;

                    h2 
                    {
                        font-size: 3rem;
                        line-height: 3.5rem;
                    }
                }
            }
        }

        .mission-description
        {
            margin-top: 5rem;
            -ms-grid-columns: 1fr;
            grid-template-columns: 1fr;
            padding: $mobile-smaller-padding;
            &__showcase 
            {
               display: none;
            }
            &__content 
            {
                margin-left: 0;
            }
        }
    }
}

@media screen and(max-width: 500px){
    .wrapper 
    {
        .header 
        {
            &__hero 
            {
                &__content 
                {
                    &__img-wrapper 
                    {
                       
                      
                        .hero-img 
                        {
                            width: 100%;
                            height: auto;
                            padding-top: 5rem;
                            position: relative;
                        }
                    }
                }
            }
        }
    }

    main 
    {
        .craftsmanship , .about-mission 
        {
            padding: $mobile-smaller-padding;
            margin-top: 5rem;

            &__container 
            {
                padding: 3rem 0;
                &__content 
                {
                    width: 100%;

                    h2 
                    {
                        font-size: 2rem;
                        line-height: 2.5rem;
                        font-weight: bold;
                    }

                    span 
                    {
                        margin-top: 1.5rem;
                        font-weight: lighter;
                    }
                }
                &__link 
                {
                    a 
                    {
                        font-size: 1.2rem;
                    }
                }
            }
        }

        .mission-description
        {
            margin-top: 5rem;
            -ms-grid-columns: 1fr;
            grid-template-columns: 1fr;
            padding: $mobile-smaller-padding;
            &__showcase 
            {
               display: none;
            }
            &__content 
            {
                margin-left: 0;
            }
        }
    }
}