/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

$desktop-padding: 0 6rem;
$mobile-padding: 0 2rem;
$mobile-smaller-padding: 0 1rem;
$tablet-padding: 0 4rem;
$primary-clr: #232323;

@mixin flexbox($justify, $align) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: $justify;
        -ms-flex-pack: $justify;
            justify-content: $justify;
    -webkit-box-align: $align;
        -ms-flex-align: $align;
            align-items: $align;
}

@mixin resetLinks {
    text-decoration: none;
    font-size: 24px;
    line-height: 24px;
}